.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px grey;
} 

.note
{
    font-size: 15px;
    color: black;
}

.copy-right-footer
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
    background-color: rgb(106, 106, 255);
}

canvas
{
    border:5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px grey;
}